html {
	font-family: Helvetica, Arial, sans-serif;
	background: #121212;
	color: #ffffff;
}

p {
	font-size: 15px;
	max-width: 450px;
}

a {
	font-weight: bold; 
	text-decoration: none;
	color: #ffffff;
}

h1 { 
	background: #888888 url(/static/css/vader/images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
	border: 2px solid #404040;
	border-radius: 5px;
	text-align: center;
}

th  {
	padding: 7px 8px; 
	background: #888888 url(/static/css/vader/images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
	border: 2px solid #404040;
	border-radius: 5px;
}

td  {
	padding: 7px 8px; 
}


#menu {
	font-size: 15px;	
	overflow: hidden;
}

#menu ul{
	margin: 0;
	padding: 0;
	padding-left: 10px; /*offset of tabs relative to browser left edge*/
	list-style-type: none;
}
	
#menu li{
	display: inline;
	margin: 0;
}
#menu li a {
	float: left;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 7px 8px; /*padding inside each tab*/
	color: #ffffff;
	background: #888888 url(/static/css/vader/images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
	border: 2px solid #404040
}

#menu li a:hover {
	background: #dddddd;
	color: #000000;	
}

div#identification {
	color: #cccccc;
}

.errorlist {
	background: #fef1ec;
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
}
