{% extends "base.html" %}

{% block head_title %}Antibody Detail - {{ object }}{% endblock %}
{% block title %}Antibody Detail - {{ object }}{% endblock %}
{% block content %}
<div = "summary">
<table>
 <thead>
 </thead>
 <tdata>
  <tr><th>Antibody</th><td>{{object.name}}</td></tr>
  <tr><th>Protein</th><td>{% for protein in object.protein.all %}<a href="{{ protein.get_absolute_url }}">{{ protein }}</a> {% endfor %}</td></tr>
  <tr><th>Size</th><td>{{object.protein_size}}</td></tr>
  <tr><th>Dilution</th><td>{{ object.dilution }}</td></tr>
  <tr><th>Source Species</th><td>{{object.source_species}}</td></tr> 
  <tr><th>Location</th><td>{{object.location}}</td></tr>
  {% if object.vendor %}<tr><th>Vendor</th><td>{{ object.vendor }}</td></tr>{% endif %}
  {% if object.catalog %}<tr><th>Catalog Number</th><td>{{ object.catalog }}</td></tr>{% endif %}
  {% if object.source %}<tr><th>Source</th><td>{{ object.source }}</td></tr>{% endif %}
  {% if object.notes %}<tr><th>Notes</th><td>{{ object.notes }}</td></tr>{% endif %}
  </tdata>
  </table>
{% if perms.reagents.change_antibody %}<p>To update antibody details click <a href="{% url antibody-edit object.id %}"><img src="/static/img/icons/Document Write.png" width=25 alt="edit"></a></p>{% endif %}
  </div>
<div = "experiments">
{% with object.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
{% include "comment.html" %}
{% endblock %}
