{% extends "base.html" %}

{% block head_title %}Antibody List{% endblock %}
{% block title %}Antibody List{% endblock %}
{% block content %}
<table>
<thead>
	<tr>
	<th>Antibody</th>
	<th>Protein</th>
	<th>Size</th>
	<th>Species</th>
	<th>Source</th>
	<th>Catalog</th>
	</tr>
</thead>
{% for antibody in object_list %}
<tbody>
<tr>
	<td><a href="/experimentdb/antibody/{{ antibody.id }}">{{ antibody }}</a></td>
	<td>{%for protein in antibody.protein.all%}<a href="/experimentdb/protein/{{protein}}">{{protein}} </a>{% endfor %}</td>
	<td>{{antibody.protein_size}}</td>
	<td>{{antibody.source_species}}</td>
	<td>{{antibody.source}}</td>
	<td>{{antibody.catalog}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Click <a href="/experimentdb/antibody/new">here</a> for a new antibody</p>
{% endblock %}
