{% extends "base.html" %}

{% block head_title %}Cell Line Detail - {{ object }}{% endblock %}
{% block title %}Cell Line Detail - {{ object }}{% endblock %}
{% block content %}
<table>
<thead>
	<tr>
	<th>Name</th>
	<th>Source</th>
	<th>Notes</th>
	</tr>
</thead>
<tbody>
<tr>
	<td>{{ object }}</td>
	<td>{{object.source}}</td>
	<td>{{object.notes}}</td>
</tr>
</tbody>
</table>
{% if perms.reagents.change_cell %}<p>To update cell line details click <a href="{% url cell-edit object.id %}"><img src="/static/img/icons/Document Write.png" width=25 alt="here"></a></p>{% endif %}
<div = "experiments">
{% with object.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
{% include "comment.html" %}
{% endblock %}
