{% extends "base.html" %}

{% block head_title %}Cell Line Detail - {{ object }}{% endblock %}
{% block title %}Cell Line Detail - {{ object }}{% endblock %}
{% block content %}
<table>
<thead>
	<tr>
	<th>Name</th>
	<th>Source</th>
	<th>Notes</th>
	</tr>
</thead>
<tbody>
<tr>
	<td><a href="/experimentdb/cell/{{ cell.id }}">{{ object }}</a></td>
	<td>{{object.source}}</td>
	<td>{{object.notes}}</td>
</tr>
</tbody>
</table>
<div = "experiments">
{% with object.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
{% include "comment.html" %}
{% endblock %}
