{% extends "base.html" %}

{% block head_title %}{% if object %}Update Chemical {{object}}{% else %} New Chemical {% endif %}{% endblock %}
{% block title %}{% if object %}Update Chemical {{object}}{% else %} New Chemical {% endif %}{% endblock %}
{% block content %}
<form method="post" {% if object %} action="{% url chemical-edit object.id %}"{% else %} action="{% url chemical-new %}"{% endif%}>{% csrf_token %}
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
