{% extends "base.html" %}

{% block head_title %}Construct List{% endblock %}
{% block title %}Construct List{% endblock %}
{% block content %}
<table>
<thead>
<th>Construct</th>
<th>Protein</th>
<th>Plasmid</th>
<th>Resistance<th>
{% for construct in object_list %}
<tr>
<td><a href="/experimentdb/construct/{{ construct.id }}">{{ construct }}</a></td>
<td>{%for protein in construct.protein.all%}<a href="/experimentdb/protein/{{protein}}">{{protein}}</a> {% endfor %}</td>

<td>{{construct.plasmid}}</td>
<td>{{construct.resistance}}</td>
</tr>
{% endfor %}
</table>
<p>Click <a href="/experimentdb/construct/new">here</a> for a new construct</p>
{% endblock %}
