{% extends "base.html" %}
{% block scripts %}
	<script type="text/javascript" src="/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/javascript/dataTables-1.4/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
	$(document).ready(function() { 
		$(".sortable").dataTable( {
			"bPaginate": false,
			});
		});
    	</script>

{% endblock scripts %}

{% block head_title %}Primer List{% endblock %}
{% block title %}Primer List{% endblock %}
{% block content %}
<table class="sortable">
<thead>
<tr>
	<th>Primer</th>
	<th>Type</th>
	<th>Ordered</th>
	<th>Protein</th>
	<th>Vendor</th>
	<th>Sequence</th>
</tr>
</thead>
<tbody>
{% for primer in object_list %}
<tr>
	<td><a href="/experimentdb/primer/{{ primer.id }}">{{ primer }}</a></td>
	<td>{{primer.primer_type}}</td>
	<td>{{primer.date_ordered}}</td>
	<td><a href="/experimentdb/protein/{{primer.protein}}">{{primer.protein}}</a></td>
	<td>{{primer.vendor}}</td>
	<td>{{primer.sequence}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Click <a href="/experimentdb/primer/new"><img src="/static/img/icons/add.png" width=25 alt="here"></a> for a new primer</p>
{% endblock %}
