{% extends "base.html" %}
{% block scripts %}
{% include "sortable_table_script.html" %}
{% endblock scripts %}

{% block head_title %}Primer List{% endblock %}
{% block title %}Primer List{% endblock %}
{% block content %}
{% if perms.reagents.add_primer %}<p>Click <a href="{% url primer-new %}"><img src="{{STATIC_URL}}img/icons/Add.png" width=25 alt="here"></a> for a new primer</p>{% endif %}
<table class="sortable">
<thead>
<tr>
	<th>Primer</th>
	<th>Type</th>
	<th>Ordered</th>
	<th>Vendor</th>
</tr>
</thead>
<tbody>
{% for primer in object_list %}
<tr>
	<td><a href="{% url primer-detail primer.id %}">{{ primer }}</a></td>
	<td>{{primer.primer_type}}</td>
	<td>{{primer.date_ordered}}</td>
	<td>{{primer.vendor}}</td>
	<td>
<a href="{% url primer-detail primer.id %}"><img src="{{STATIC_URL}}img/icons/Zoom.png" width=25 alt="Detail"></a>
{% if perms.reagents.change_primer %}
<a href="{% url primer-edit primer.id %}"><img src="{{STATIC_URL}}img/icons/Document Write.png" width=25 alt="Edit"></a>
{% endif %}
{% if perms.reagents.delete_primer %}
<a href="{% url primer-delete primer.id %}"><img src="{{STATIC_URL}}img/icons/Close.png" width=25 alt="delete"></a>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<p>Click <a href="/experimentdb/primer/new"><img src="{{STATIC_URL}}img/icons/add.png" width=25 alt="here"></a> for a new primer</p>
{% endblock %}
