{% extends "base.html" %}

{% block head_title %}Purified Protein List{% endblock %}
{% block title %}Purified Protein List{% endblock %}
{% block content %}
{% if perms.reagents.add_purified_protein %}<p>Click <a href="{% url purified-new %}"><img src="/static/img/icons/Add.png" width=25 alt="here"></a> for a new purified protein</p>{% endif %}
<table>
<thead>
	<tr>
	<th>Preparation</th>
	<th>Protein</th>
	<th>Date</th>
	<th>Construct</th>
	</tr>
</thead>
{% for purified in object_list %}
<tbody>
<tr>
	<td><a href="{% url purified-detail purified.id %}">{{ purified }}</a></td>
	<td>{%for protein in purified.protein.all%}<a href="/experimentdb/protein/{{protein}}">{{protein}} </a>{% endfor %}</td>
	<td>{{ purified.purification_date }}</td>
	<td><a href="{% url construct-detail purified.construct.id %}">{{ purified.construct}}</td></a>
	<td>
<a href="{% url purified-detail purified.id %}"><img src="/static/img/icons/Zoom.png" width=25 alt="Detail"></a>
{% if perms.reagents.change_purified_protein %}
<a href="{% url purified-edit purified.id %}"><img src="/static/img/icons/Document Write.png" width=25 alt="Edit"></a>
{% endif %}
{% if perms.reagents.delete_purified_protein %}
<a href="{% url purified-delete purified.id %}"><img src="/static/img/icons/Close.png" width=25 alt="delete"></a>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Click <a href="{% url purified-new %}"><img src="/static/img/icons/add.png" width=25 alt="here"></a> for a new purified protein</p>
{% endblock %}
