{% extends "base.html" %}

{% block head_title %}{% if object %}Update Purified Protein {{object}}{% else %} New Purified Protein {% endif %}{% endblock %}
{% block title %}{% if object %}Update Purified Protein {{object}}{% else %} New Purified Protein {% endif %}{% endblock %}
{% block content %}
<form method="post" {% if object %} action="{% url purified-edit object.id %}"{% else %} action="{% url purified-new %}"{% endif%}>{% csrf_token %}
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
