{% extends "base.html" %}

{% block head_title %}Reagent List{{ object }}{% endblock %}
{% block title %}Reagent List{% endblock %}
{% block content %}
<p><a href="/experimentdb/constructs/">Constructs</a></p>
<p><a href="/experimentdb/antibody/">Antibodies</a></p>
<p><a href="/experimentdb/purified/">Purified Protein</a></p>
<p><a href="/experimentdb/cell/">Cell Lines</a></p>
<p><a href="/experimentdb/chemical/">Chemicals</a></p>
<p><a href="/experimentdb/primer/">Primers</a></p>
<p><a href="/experimentdb/strains/">Yeast Strains</a></p>
{% endblock %}
