{% extends "base.html" %}
{% block scripts %}
	<script type="text/javascript" src="/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/javascript/dataTables-1.4/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
	$(document).ready(function() { 
		$(".sortable").dataTable( {
			"bPaginate": false,
			});
		});
    	</script>

{% endblock scripts %}
{% block head_title %}Strain List{% endblock %}
{% block title %}Strain List{% endblock %}
{% block content %}
{% if perms.reagents.add_strain %}<p>Click <a href="{% url strain-new %}"><img src="/static/img/icons/Add.png" width=25 alt="here"></a> for a new strain</p>{% endif %}
<div class="grid_12">
<table class="sortable">
<thead>
	<tr>
	<th>Strain</th>
	<th>Background</th>
	<th>Plasmids</th>
	<th>Selection</th>
	</tr>
</thead>
{% for strain in object_list %}
<tbody>
<tr>
	<td><a href="{% url strain-detail strain.id %}">{{ strain|safe }}</a></td>
	<td>{{strain.background|safe}}</td>
	<td><ul>{% for construct in strain.plasmids_set %}<li><a href="/experimentdb/construct/{{construct.id}}" title="{{construct}}">{{construct}}</a></li>{% endfor %}</ul></td>
	<td>{{strain.selection}}</td>
	<td>
<a href="{% url strain-detail strain.id %}"><img src="/static/img/icons/Zoom.png" width=25 alt="Detail"></a>
{% if perms.reagents.change_strain %}
<a href="{% url strain-edit strain.id %}"><img src="/static/img/icons/Document Write.png" width=25 alt="Edit"></a>
{% endif %}
{% if perms.reagents.delete_strain %}
<a href="{% url strain-delete strain.id %}"><img src="/static/img/icons/Close.png" width=25 alt="delete"></a>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
