{% extends "base.html" %}
{% block scripts %}
{% include "sortable_table_script.html" %}
{% endblock scripts %}
{% block head_title %}Strain List{% endblock %}
{% block title %}Strain List{% endblock %}
{% block content %}
{% if perms.reagents.add_strain %}<p>Click <a href="{% url strain-new %}"><img src="{{STATIC_URL}}img/icons/Add.png" width=25 alt="here"></a> for a new strain</p>{% endif %}
<div class="grid_12">
<table class="sortable">
<thead>
	<tr>
	<th>Strain</th>
	<th>Background</th>
	<th>Selection</th>
	</tr>
</thead>
<tbody>
{% for strain in object_list %}
<tr>
{% autoescape off %}
	<td><a href="{% url strain-detail strain.id %}">{{ strain }}</a></td>
	<td>{{strain.background}}</td>
	<td>{{strain.selection}}</td>
	<td>
{% endautoescape %}
<a href="{% url strain-detail strain.id %}"><img src="{{STATIC_URL}}img/icons/Zoom.png" width=25 alt="Detail"></a>
{% if perms.reagents.change_strain %}
<a href="{% url strain-edit strain.id %}"><img src="{{STATIC_URL}}img/icons/Document Write.png" width=25 alt="Edit"></a>
{% endif %}
{% if perms.reagents.delete_strain %}
<a href="{% url strain-delete strain.id %}"><img src="{{STATIC_URL}}img/icons/Close.png" width=25 alt="delete"></a>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
