{% extends "base.html" %}

{% block head_title %}{% if object %}Update Yeast Strain {{object}}{% else %} New Yeast Strain {% endif %}{% endblock %}
{% block title %}{% if object %}Update Yeast Strain {{object}}{% else %} New Yeast Strain {% endif %}{% endblock %}
{% block content %}
<form method="post" {% if object %} action="{% url strain-edit object.id %}"{% else %} action="{% url strain-new %}"{% endif%}>
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
