{% extends "base.html" %}

{% block head_title %}Construct Detail - {{ object|safe }}{% endblock %}
{% block title %}Construct Detail - {{ object|safe }}{% endblock %}
{% block content %}
<div id= "summary" class="grid_6 alpha">
<table>
 <thead>
 </thead>
 <tdata>
  <tr><th>Strain</th><td>{{ object|safe }}</td></tr>
  <tr><th>Protein</th><td><ul>{% for protein in object.protein.all %}<li><a href="/{{protein.get_absolute_url}}" title="{{protein}}">{{protein}}</a></li>{% endfor%}</ul></td>
  <tr><th>Source</th><td>{{ object.source }}</td></tr>
  <tr><th>Location</th><td>{{ object.location }}</td></tr>
  <tr><th>Box</th><td>{{ object.box }}</td></tr>
  <tr><th>Researcher</th><td>{% for researcer in object.researcher_set %}{{ researcher }}{% endfor %}</td>
  <tr><th>Background</th><td>{{ object.background|safe }}</td>
  <tr><th>Selection</th><td>{{ object.selection }}</td>
  <tr><th>Genotype</th><td>{{ object.genotype|safe }}</td>
  <tr><th>Notes</th><td>{{ object.notes }}</td></tr>
  </tdata>
 </table>
{% if perms.reagents.change_strain %}<p>To update strain details click <a href="{% url strain-edit object.id %}"><img src="{{STATIC_URL}}img/icons/Document Write.png" width=25 alt="edit"></a></p>{% endif %}
 </div>
<div = "experiments" class="grid_6 omega">
{% with object.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
<div class="grid_12">
{% include "comment.html" %}
</div>
{% endblock %}
