{% extends "base.html" %}

{% block title %} Project Detail {% endblock %}
{% block content %}
<h2>{{ project.project }}</h2>
<p>{{ project.comments }}</p>
{% for subproject in proj_subproject %}
<h3>SubProject: <a href="/experimentdb/subproject/{{ subproject.project_slug }}">{{ subproject.subproject }}</a></h3>
<p>{{ subproject.comments }}</p>
{% endfor %}
<h3>Experiments</h3>
<ul>{% for experiment in proj_experiment %}
<li><a href="/experimentdb/experiment/{{experiment.experimentID}}">{{ experiment }}</a>
{% endfor %}
</ul>
{% endblock %}
