body {
	font-family: sans-serif;
}

p {
	font-size: 15px;
	max-width: 450px;
}

th {
	background-color: LightGrey;
}
td {
	padding: 0.2em;
}

#menu {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid black; /*bottom horizontal line that runs beneath tabs*/
}
#menu ul{
	margin: 0;
	padding: 0;
	padding-left: 10px; /*offset of tabs relative to browser left edge*/
	list-style-type: none;
}
	
#menu li{
	display: inline;
	margin: 0;
}
#menu li a {
	float: left;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 7px 8px; /*padding inside each tab*/
	border-right: 1px solid white; /*right divider between tabs*/
	color: black;
	background: LightGrey; /*background of tabs (default state)*/
}	


