{% extends "base.html" %}

{% block head_title %}ExperimentDB Home{% endblock %}
{% block scripts %}
{% include "base_jquery.html" %}
{% endblock %}
{% block content %} 

<h1>Welcome to ExperimentDB</h1>

<h2>What would you like to do?</h2>

<span id="choice-bar">
<button id='data'>Enter or view some data</button>
<button id='reagents'>Look at or enter some reagents</button>
<button id='hypotheses'>Generate or look at support for a hypothesis</button>
</span>

	<script>
	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 500;
	$(function() {
		$('button#data').button({ icons: {primary:'ui-icon-image',secondary:'ui-icon-circle-plus'} });
		$('button#reagents').button({ icons: {primary:'ui-icon-search',secondary:'ui-icon-circle-plus'} });		
		$('button#hypotheses').button({ icons: {primary:'ui-icon-lightbulb',secondary:'ui-icon-circle-plus'} });
		$('button.reagent').button({ icons: {secondary: 'ui-icon-search'}});
		$('button.idea').button({ icons: {secondary: 'ui-icon-lightbulb'}});		
		$( "#choice-bar" ).buttonset();						
		$( ".dialog" ).dialog({
			autoOpen: false,
			show: "scale",
			hide: "explode"
		});

		$( "#data" ).click(function() {
			$( "#data-info" ).dialog( "open" );
			return false;
		});
		$( "#reagents" ).click(function() {
			$( "#reagents-info" ).dialog( "open" );
			return false;
		});
		$( "#hypotheses" ).click(function() {
			$( "#hypotheses-info" ).dialog( "open" );
			return false;
		});				
	});
	</script>


<div class="dialog" id="data-info" title="Data Entry">
	<p>You can look at a list of experimental results:</p>
	<ul>
	<li><a href="{% url experiment-list %}"><button class='idea'>Experiment List</button></a></li>
	<li><a href="{% url project-list %}"><button class='idea'>Project Summaries</button></a></li>
	</ul>	
</div>

<div class="dialog" id="reagents-info" title="Reagent Information">
	<p>You can see a full list of reagents <a href={% url reagent-list %}><button class='reagent'>here</button></a> or you can look for specific reagent types below:</p>
	<ul>
	<li><a href="{% url construct-list %}"><button class='reagent'>Plasmids and DNA Constructs</button></a></li>
	<li><a href="{% url antibody-list %}"><button class='reagent'>Antibodies</button></a></li>
	<li><a href="{% url chemical-list %}"><button class='reagent'>Chemicals</button></a></li>	
	<li><a href="{% url primer-list %}"><button class='reagent'>Primers and RNAi</button></a></li>
	<li><a href="{% url strain-list %}"><button class='reagent'>Bacterial and Strains</button></a></li>
	<li><a href="{% url cell-list %}"><button class='reagent'>Cell Lines</button></a></li>
	<li><a href=""><button class='reagent'>Animal Models</button></a></li>
	</ul>
</div>

<div class="dialog" id="hypotheses-info" title="Experimental Questions">
	<p>Here is where you can find summary data for specific hypotheses</p>
</div>



{% endblock %}
