{% extends "base.html" %}

{% block head_title %}Project List{% endblock %}
{% block title %}Project List{% endblock %}
{% block content %}
<table>
<thead>
<tr>
 <th>Project</th>
 <th>Summary</th>
 <th>Experiments</th>
</tr>
</thead>
<tbody>
{% for project in project_list %}
<tr>
 <th><a href="{% url project-detail project.project_slug %}">{{ project }}</a></th>
 <td>{{ project.comments }}</td>
 <td>{{ project.experiment_set.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
	<script>
	$(function() {
		$('button.add').button({ icons: {secondary: 'ui-icon-plus'}});
    });
    </script>    
{% if perms.reagents.add_project %}
<a href="{% url project-new %}">
<button class="add">Click here to add a new project.</button>
</a>
{% endif %}
{% endblock %}
