{% extends "base.html" %}

{% block title %} Project Detail {% endblock %}
{% block content %}
<h2>{{ project.project }}</h2>
<p>{{ project.comments }}</p>
{% for subproject in proj_subproject %}
<h3>SubProject: <a href="/experimentdb/subproject/{{ subproject.project_slug }}">{{ subproject.subproject }}</a></h3>
<p>{{ subproject.comments }}</p>
{% endfor %}
<div = "experiments">
{% with project.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
{% endblock %}
