{% extends "base.html" %}

{% block head_title %}Project List{% endblock %}
{% block title %}Project List{% endblock %}
{% block content %}
<table>
<thead>
<tr>
 <th>Project</th>
 <th>Summary</th>
 <th>Experiments</th>
</tr>
</thead>
<tbody>
{% for project in project_list %}
<tr>
 <th><a href="{% url project-detail project.project_slug %}">{{ project }}</a></th>
 <td>{{ project.comments }}</td>
 <td>{{ project.experiment_set.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if perms.reagents.add_antibody %}<p>Click <a href="{% url project-new %}"><img src="{{STATIC_URL}}img/icons/Add.png" width=25 alt="here"></a> for a new project.</p>{% endif %}
{% endblock %}
