{% extends "base.html" %}
{% block head_title %} {{project}} Project Detail {% endblock %}
{% block title %} Project Detail {% endblock %}
{% block content %}
<div id="project" class="grid_5">
<h1>{{ project.project }}</h1>
<p>{{ project.comments }}</p>
</div>
<div id="subprojects" class="grid_5">
{% for subproject in proj_subproject %}
<h3>SubProject: <a href="{{ subproject.get_absolute_url }}">{{ subproject.subproject }}</a></h3>
<p>{{ subproject.comments }}</p>
{% endfor %}
</div>
<div = "experiments" class="grid_12">
{% with project.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
<<hr>
{% with project as object %}
{% include "comment.html" %}
{% endwith %}
{% endblock %}
