{% extends "base.html" %}

{% block head_title %}{% if object %}Update Project {{object}}{% else %} New Project {% endif %}{% endblock %}
{% block title %}{% if object %}Update Project {{object}}{% else %} New Project {% endif %}{% endblock %}
{% block content %}
<form method="post" {% if object %} action="{% url subproject-edit object.id %}"{% else %} action="{% url subproject-new %}"{% endif%}>{% csrf_token %}
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
