{% extends "base.html" %}

{% block head_title %}Sub-Project List{% endblock %}
{% block title %}Sub-Project List{% endblock %}
{% block content %}
<table>
<thead>
<tr>
 <th>Sub-Project</th>
 <th>Summary</th>
 <th>Experiments</th>
</tr>
</thead>
<tbody>
{% for subproject in subproject_list %}
<tr>
 <th><a href="{% url subproject-detail subproject.subproject_slug %}">{{ subproject }}</a></th>
 <td>{{ subproject.comments }}</td>
 <td>{{ subproject.experiment_set.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if perms.projects.add_subproject %}<p>Click <a href="{% url subproject-new %}"><img src="/static/img/icons/Add.png" width=25 alt="here"></a> for a new subproject.</p>{% endif %}
{% endblock %}
