{% extends "base.html" %}
{% block head_title %}Protein Isoform Detail - {{ record_id }}{% endblock %}
{% block title %}Protein Isoform Detail{% endblock %}
{% block content %}
<div class = "grid_6">
<table>
	<tr><th>GI</th><td>{{record_id}}</td></tr>
	<tr><th>Name</th><td>{{name}}</td></tr>
	<tr><th>Description</th><td>{{description}}</td></tr>
	<tr><th>Species</th><td>{{species}}</td></tr>
	{% if xref %}<tr><th>Cross-References</th><td>{{xref}}</td></tr>{% endif %}
</table>
</div>

<div class = "grid_4" style=”word-wrap: break-word”>
<h3>Sequence</h3>
<p>{{sequence}}</p>
</div>

{% endblock %}
