{% extends "base.html" %}
{% block scripts %}
	<script type="text/javascript" src="/static/js/dataTables-1.5/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
	$(document).ready(function() { 
		$(".sortable").dataTable( {
			"bPaginate": false,
			});
		});
    	</script>

{% endblock scripts %}
{% block head_title %}Protein List{% endblock %}
{% block title %}Protein List{% endblock %}
{% block content %}
<p>To add a new protein click <a href="{% url protein-new %}" title="Add New Protein"><img src="/static/img/icons/Add.png" width=25 alt="here"></a></p>
<table class="sortable">
 <thead>
	<tr>
		<th>Protein</th>
		<th>Family</th>
	</tr>
 </thead>
 <tbody>
   {% for protein in protein_list %}
	<tr>
		<td><a href="/{{ protein.get_absolute_url }}"> {{ protein }}</a></td>
		<td>{% for family in protein.protein_family.all %}<a href="{% url protein-family-detail family.id %}">{{family}}</a> {% endfor %}</td>
	</tr>
{% endfor %}
 </tbody>
 </table>
{% endblock %}
