{% extends "base.html" %}
{% block head_title %}Protein Isoform Detail - {{ record_id }}{% endblock %}
{% block title %}Protein Isoform Detail{% endblock %}
{% block content %}
<div class = "grid_4">
<table>
	<h3>Details</h3>
	<tr><th>GI</th><td><a href="http://www.ncbi.nlm.nih.gov/protein/{{record_id}}">{{ record_id }}</a></td></tr>
	<tr><th>Name</th><td>{{name}}</td></tr>
	<tr><th>Description</th><td>{{description}}</td></tr>
	<tr><th>Species</th><td>{{species}}</td></tr>
	{% if xref %}<tr><th>Cross-References</th><td>{{xref}}</td></tr>{% endif %}
</table>
</div>

<div class= "grid_6">
	{% if features %}
	<h3>Features</h3>
	<table>
		<tr>
			<th>Feature</th>
			<th>Location</th>
		</tr>
		{% for feature in features %}
		<tr>
			<td>{{ feature.type }}</td>
			<td>{{ feature.location }}</td>
			<td>{% for qualifier in feature.qualifiers.all %}{{ qualifier.items }} {% endfor %}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>

<div class = "grid_12" style=”word-wrap: break-word”>
<h3>Sequence</h3>
{{sequence}}
</div>

<div class="grid_12">
	<h3>References</h3>
	<ul>
		{% for paper in papers %}
		<li>{{ paper.title }}.  <em>{{ paper.authors }}</em>.  <strong>{{ paper.journal}}</strong>.  <a href="www.ncbi.nlm.nih.gov/pmid/{{ paper.pumed_id}}" title="{{ paper.title }}">{{ paper.pubmed_id }}</a></li>
		{% endfor %}
	</ul>
</div>

{% endblock %}
