{% extends "base.html" %}
{% block scripts %}
{% include "sortable_table_script.html" %}
{% endblock scripts %}
{% block head_title %}Protein List{% endblock %}
{% block title %}Protein List{% endblock %}
{% block content %}
<table class="sortable">
 <thead>
	<tr>
		<th>Protein</th>
		<th>Family</th>
	</tr>
 </thead>
 <tbody>
   {% for protein in protein_list %}
	<tr>
		<td><a href="{% url 'protein-detail' protein.id%}"> {{ protein }}</a></td>
		<td>{% for family in protein.protein_family.all %}<a href="{% url 'protein-family-detail' family.id %}">{{family}}</a> {% endfor %}</td>
	</tr>
{% endfor %}
 </tbody>
 </table>
<p>To add a new protein click <a href="{% url 'protein-new' %}" title="Add New Protein">here</a></p>
{% endblock %}
