{% extends "base.html" %}
{% block head_title %}{{ protein }} - Detail {% endblock %}
{% block title %} {{ protein }} Detail {% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion({
			autoHeight: false
		});
	});
	</script>
{% endblock %}
{% block content %}
<h2>{{ protein }}</h2>
<h3>Protein Families</h3>
<ul>{% for family in protein.protein_family.all %}
 <li><a href="/experimentdb/protein/family/{{family.id}}">{{family}}</a></li>
{% endfor %}
 </ul>
<table>
 <thead>
  <tr>
   <th>Protein</th>
   <th>Species</th>
   <th>Gene</th>
   <th>Protein Sequence</th>
   <th>Nucleotide Sequence</th>
  </tr>
 </thead>
 <tbody>
  {% for protein_detail in protein.proteindetail_set.all %}
 <tr>
  <td>{{ protein_detail }}</td>
  <td>{{ protein_detail.species }}</td>
  <td><a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=gene&Cmd=ShowDetailView&TermToSearch={{ protein_detail.geneID}}&ordinalpos=3&itool=EntrezSystem2.PEntrez.Gene.Gene_ResultsPanel.Gene_RVDocSum" title = "NCBI Gene Record for {{protein_detail.gene}}", target="_blank">{{ protein_detail.gene }}</a></td>
  <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{ protein_detail.RefSeqProtein_gi}}", title ="NCBI Protein Record for {{protein_detail.RefSeqProtein}}" target="_blank">{{ protein_detail.RefSeqProtein }}</a></td>
  <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ protein_detail.RefSeqNucleotide_gi}}", title ="NCBI Nucleotide Record for {{protein_detail.RefSeqNucleotide}}" target="_blank">{{ protein_detail.RefSeqNucleotide }}</a></td>
  {% ifequal protein_detail.species.scientific_name "Drosophila melanogaster" %}<td><a href="http://flybase.org/reports/{{ protein_detail.FlyBaseID }}.html" title="FlyBase Record for {{ protein_detail.FlyBaseID }}", target="_blank"><img src="http://www.fly-ted.org/images/fly_logo.png", height="25px"></a></td>{% endifequal %}
  {% ifequal protein_detail.species.scientific_name "Caenorhabditis elegans" %}<td><a href="http://www.wormbase.org/db/gene/gene?class=CDS;name={{ protein_detail.WormBaseID }}.html" title="WormBase Record for {{ protein_detail.WormBaseID }}", target="_blank"><img src="http://www.its.caltech.edu/~wormbase/logo.jpg", height="25px"</a></td>{% endifequal %}
  {% ifequal protein_detail.species.scientific_name "Saccharomyces cerevisiae" %}<td><a href="/experimentdb/sgd/{{protein_detail.gene}}">{{protein_detail.gene}}</a></td><td><a href="http://www.yeastgenome.org/cgi-bin/locus.fpl?locus={{ protein_detail.SGD_ID }}", title="SGD Record for {{ protein_detail.SGD_ID }}", target="_blank"><img src="http://www.pebc.cat/Bioinformatic/SGD_logo.png", height="25px"</a></td>{% endifequal %}
  </tr>
{% endfor %}
 </tbody>
 </table>
 <p>Add new protein isoform <a href="/experimentdb/protein_isoform/new">here</a></p>

<div id ="accordion">
<h3><a href="#">Antibodies ({{ protein.antibody_set.count }})</a></h3>
<div>
<table>
 <thead>
 </thead>
 <tbody>
{% for antibody in protein.antibody_set.all %}
   <tr>
   <td><a href="/experimentdb/antibody/{{antibody.id}}">{{ antibody }}</a></td>
   </tr>
  </tbody>
{% endfor %}
  </table>
  </div>




<h3><a href="#">Constructs ({{ protein.construct_set.count }})</a></h3>
<div>
<table>
 <thead>
 </thead>
 <tbody>
{% for construct in protein.construct_set.all %}
   <tr>
   <td><a href="/experimentdb/construct/{{construct.id}}">{{ construct }}</a></td>
   </tr>
  </tbody>
{% endfor %}
  </table>
  </div>

<h3><a href="#">Primers ({{protein.primer_set.count}})</a></h3>
<div>
<table>
 <thead>
  <th>Primer</th>
  <th>Type</th>
  <th>Sequence</th>
 </thead>
 <tbody>
{% for primer in protein.primer_set.all %}
   <tr>
   <td><a href="{{primer.get_absolute_url}}">{{ primer }}</a></td>
   <td>{{ primer.primer_type }}
   <td>{{ primer.sequence }}
   </tr>
  </tbody>
{% endfor %}
  </table>
  </div>


<h3><a href="#">Strains ({{protein.strain_set.count}})</a></h3>
<div>
<table>
 <thead>
 </thead>
 <tbody>
{% for strain in protein.strain_set.all %}
   <tr>
   <td><a href="{{strain.get_absolute_url}}" title="strain">{{ strain|safe }}</a></td>
   </tr>
  </tbody>
{% endfor %}
  </table>
  </div>

<h3><a href="#">Experiments ({{ protein.experiment_set.count }})</a></h3>
<div>
<table>
 <thead>
 </thead>
 <tbody>
{% for experiment in protein.experiment_set.all %}
   <tr>
   <td><a href="/experimentdb/experiment/{{experiment.experimentID}}">{{ experiment }}</a></td>
   </tr>
  </tbody>
{% endfor %}
  </table>
  </div>

{% with protein as object %}
{% include "comment.html" %}
{% endwith %}
  </div>
{% endblock %}
