/*
	most of the css that makes it look good is in the jquery.autocomplete.css that comes with the autocomplete plugin.
	that formats the dropdown of search results.

	one class is used on the html interface itself and that's the X that allows you to remove an item.
	here is the styling I use.  add this to your main css file and season to taste.
*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
    color: black;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('img/ajax-loader.gif') right center no-repeat;
}

.ac_odd {
	background-color: #888888;
	color: white;
}

.ac_over {
	background-color: black;
	color: white;
}

