{% extends "base.html" %}

{% block head_title %}Mutagenesis List{% endblock %}
{% block title %}Mutagenesis List{% endblock %}
{% block content %}
<table>
<thead>
	<tr>
	<th>Construct</th>
	<th>Mutation</th>
	<th>Template</th>
	<th>Date</th>
	</tr>
</thead>
{% for mutagenesis in object_list %}
<tbody>
<tr>
	<td><a href="{{mutagenesis.construct.get_absolute_url}}">{{ mutagenesis.construct }}</a></td>
	<td>{{mutagenesis.mutation}}</td>
	<td><a href="{{mutagenesis.template.get_absolute_url}}">{{ mutagenesis.template }}</a></td>
	<td>{{ mutagenesis.date_completed }}</td>
	<td><a href="{{mutagenesis.get_absolute_url}}"><img src="/static/img/icons/Zoom.png" width=25 title="{{mutagenesis}} Mutagenesis Detail" alt="here">
</tr>
{% endfor %}
</tbody>
</table>
<p>Click <a href="experimentdb/clones/mutagenesis/new"><img src="/static/img/icons/add.png" width=25 alt="here"></a> for a new mutagenesis.</p>
{% endblock %}
