{% extends "base.html" %}

{% block head_title %}Antibody Detail - {{ object }}{% endblock %}
{% block title %}Antibody Detail - {{ object }}{% endblock %}
{% block content %}
<table>
<thead>
	<tr>
	<th>Preparation</th>
	<th>Protein</th>
	<th>Tag</th>
	<th>Construct</th>
	</tr>
</thead>
<tbody>
<tr>
	<td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
	<td>{%for protein in object.protein.all%}<a href="{{ protein.get_absolute_url }}">{{protein}} </a>{% endfor %}</td>
	<td>{{purified.tag}}</td>
	<td><a href="{{ object.construct.get_absolute_url }}">{{ object.construct}}</td>
</tr>
</tbody>
</table>
<p>Purification: <a href="{{ object.purification.get_absolute_url }}">{{ object.purification }}</a></p>
<div = "experiments">
{% with object.experiment_set.all as experiment_list %}
{% include "experiment_list_table.html" %}
{% endwith %}
</div>
{% endblock %}
