{% extends "base.html" %}

{% block head_title %}Shipment Detail - {{ object }}{% endblock %}
{% block title %}Shipment Detail - {{ object }}{% endblock %}
{% block content %}
<div = "summary">
<table>
 <thead>
 </thead>
 <tdata>
  <tr><th>Lab</th><td>{{object.recipient.lab}}</td></tr>
  <tr><th>Constructs</th><td><ul>{% for construct in object.constructs.all %}<li><a href="{{construct.get_absolute_url}}">{{ construct }}</a></li>{% endfor %}</ul></td></tr>
  <tr><th>Location</th><td>{{object.recipient.lab.institution}}, {{object.recipient.lab.institution.city}}, {{object.recipient.lab.institution.country}}</td></tr>
  <tr><th>Notes</th><td>{{object.notes}}</td></tr>
 </tdata>
  </table>
  </div>
{% include "comment.html" %}
{% endblock %}