	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/960/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/960/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/experimentdb.css" />
	<link rel="meta" title="DOAP" href="{{ STATIC_URL}}doap.rdf" type="application/rdf+xml"/>	
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/960/960_12_10_10.css" />