<h3><a href="#">Comments</a></h3>
<div id="comments">
{% load comments %}
{% get_comment_list for object as comment_list %}
<ul>
{% for comment in comment_list %}
<li><strong>{{ comment.user.first_name }} {{comment.user.last_name }}</strong>: {{ comment.comment }}.  ({{comment.submit_date}}).</li>
{% endfor %}
</ul>

<h4>Leave a comment</h4>
{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="POST"> {% csrf_token %}
{{ form.comment }} 
{{ form.content_type }} 
{{ form.object_pk }} 
{{ form.timestamp }} 
{{ form.security_hash }} 
<br>
<input type="submit" value="Add comment" id="id_submit" />
</form> 

</div>
